@import "tailwindcss";

::-webkit-scrollbar {
    display: none;
}
::selection {
  background: rgba(255, 119, 0, 0.867);  /* selection background */
  color: white;  /* selected text color */
}

@keyframes float {
  0% { transform: translateY(0px) translateX(0px); }
  50% { transform: translateY(-20px) translateX(10px); }
  100% { transform: translateY(0px) translateX(0px); }
}

.float {
  animation: float 6s ease-in-out infinite;
}

